/* ==========================================================================
   GREEN THEME
   ========================================================================== */

/* Color codes used for the theme */
$green                       : #A2C4A9;
$dark-green                  : mix(#000, $green, 40%);
$darker-green                : mix(#000, $green, 60%);
$light-green                 : mix(#fff, $green, 50%);
$lighter-green               : mix(#fff, $green, 90%);
$gray                        : #444546;

/* Color codes used for the site */
$danger-color               : #BA6262;
$info-color                 : #5E86C1;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$gray};
    --global-bg-color                   : #{$green};
    --global-border-color               : #{$lighter-green};
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-green};
    --global-fig-caption-color          : mix(#fff,  #{$dark-green}, 25%);
    --global-link-color                 : #{$darker-green};
    --global-link-color-hover           : mix(#000, #{$darker-green}, 25%);
    --global-link-color-visited         : mix(#fff, #{$darker-green}, 25%);  
    --global-masthead-link-color        : #{$dark-green};
    --global-masthead-link-color-hover  : mix(#000, #{$green}, 25%);    
    --global-text-color                 : #{$dark-green};
    --global-text-color-light           : #{$light-green};
    --global-thead-color                : #{$lighter-green};
}